body{
  margin: 0;
  padding: 0;
  background:grey;
      
}

.css{
  background:black;
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.css h1{
  color: white;
  text-transform: uppercase;
  font-weight:500;
}
.user
{
  border:0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid red;
  padding: 3px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.user:focus{
  width: 280px;
  border-color: #2ecc71;
}
.button
{
  border:0;
  background: none;
  display:block;
  margin-right: 50px;
  text-align: center;
  border: 2px solid red;
  padding: 3px 10px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  float: right;
      
}
.button:hover{
  background: red;
}

.button1
{
  border:0;
  background: none;
  display:block;
  margin-left: 50px;
  text-align: center;
  border: 2px solid red;
  padding: 3px 10px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  float: left;
      
}
.button1:hover{
  background: red;
}


.img1
{
    position:relative;
    top:0;
    left:0;
    transition: 0.5s;
}

.img2
{
    position:absolute;
    top:121px;
    left:42px;
    transition: 0.5s;
}

.img3
{
    position:absolute;
    top:121px;
    left:42px;
    transition:0.5s;
}

.img4
{
    position:absolute;
    top:121px;
    left:42px;
    transition: opacity 0.5s linear;
}

.img5
{
    position:absolute;
    top:121px;
    left:42px;
     z-index: 9999;
    transition: opacity 0.5s linear;
}
.css:hover .img5
{
    transform: none;
    opacity: 0;    
}

.css:hover .img4
{
    transform:none;
    opacity: 1;    
}
.css:hover .img3
{
    transform:none;
    opacity: 1;    
}

.css:hover .img2
{
    transform:none;
    opacity: 1;    
}

.css:hover .img1
{
    transform:translateY(0px);
    opacity: 1;    
}